doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Covid 19 Tracker
  link(rel='stylesheet', href='style.css')
  // CSS only
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
.card.text-center
  img.card-img-top(src='form-header-image.png', alt='')
  .card-body-center
    h5 Ministry of Health
    h4.card-title COVID 19(CORONA VIRUS)
    p.card-text Virus-Test Registration Form
    form(action='/', method='post' onsubmit="return Register()")
      h6 Surn Name
      input.field(type='text' id="surname" name="surname")
      #error1
      h6 Given Name
      input.field(type='text' id="givenname" name="givenname")
      #error2
      h6 Date Of Birth
      input.field(type='date' id="dob" name="dob" min="1871-12-31")
      #error3
      h6 Occupation
      input.field(type='text' id="occupation" name="occupation")
      #error4
      h6 Nationality
      input.field(type='text' id="nationality" name="nationality")
      #error5
      h6
        u Gender
      .form-check.form-check-inline
        label.form-check-label
          input.form-check-input(type='radio', name='Gender', id='Gender', value='Male' checked )
          | Male
      .form-check.form-check-inline
        label.form-check-label
          input.form-check-input(type='radio', name='Gender', id='Gender', value='Female')
          | Female

      h6 Category
      select(name='category', id='category')
        option(value='') Select Category of Patient
        option(value='Returnee') Returnee
        option(value='Contact') Contact
        option(value='Alert') Alert
        option(value='Volunteer') Volunteer
      #error6
      br
      button.btn.btn-info(type='submit') Register
// JavaScript Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
script(src="validate.js") 